<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.thens.kdroid.core">

    <application>
        <activity
            android:name="cn.thens.kdroid.app.ActivityRequest$BridgeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Transparent" />

        <provider
            android:name="cn.thens.kdroid.KDroid$InitProvider"
            android:authorities="${applicationId}.kdroid.init"
            android:multiprocess="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider"
                tools:replace="android:resource" />
        </provider>
    </application>
</manifest>
